<%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label 'Did you two catch up?' %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'How was the catch up?' %><br>
      <%= f.text_area :email, class: 'form-control' %>
    </div>
    <div class="form-group">      
	  We'd love to match you again for next week.  Are you keen?
      <div style="margin-left: 50px"> 
      	<br/>
		<%= radio_button_tag(:yes, "Yes") %>
		<%= label_tag(:age_child, "Absolutely!") %><br/>
		<%= radio_button_tag(:yes, "No") %>
		<%= label_tag(:age_child, "Not right now") %>
	  </div>
    </div>

    <div class="actions">
      <button class='btn btn-default'%>
        Submit
	  </button>
    </div>    
<% end %>